{#
/**
  * @file
  * Default theme implementation for 'forcontu_theming_dimensions'.
  *
  * Available variables:
  * - length.
  * - width.
  * - height
  * - unit (default to cm.)
  */
#}
{{ attach_library('forcontu_theming/forcontu_theming.css') }}
<span class="item-dimensions">
  {% trans %}
    Dimensions (length x width x height): {{ length }} x {{ width }} x {{ height }} {{ unit }}
  {% endtrans %}
</span>

<p>{{ loripsum(300) }}</p>
<p>{{ loripsum(100)|space_replace }}</p>

